* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

h2 {
  margin: 20px 0;
  font-size: 1.8rem;
}

.header-link {
  list-style: none;
  display: block;
  font-size: 1.11rem;
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0px;
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid rgb(56, 55, 55);
}

.header-link:hover {
  opacity: 0.8;
}

.header-link:active {
  opacity: 0.4;
}

.header-link:first-child {
  padding: 10px 5px;
  border-top: 1px solid rgb(56, 55, 55);
}

.header-link:first-child:hover {
  opacity: 0.8;
}

.header-link:first-child:active {
  opacity: 0.4;
}
.nav-link {
  text-decoration: none;
  color: rgb(56, 55, 55);
  padding: 30px 20px;
}

p {
  font-size: 1rem;
  margin: 15px 0;
}
.always-left-container {
  position: fixed;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 2px solid black;
}

.always-left-container > h1 {
  font-size: 2rem;
  padding: 5px;
}

#main-doc {
  position: absolute;
  left: 310px;
}

.main-doc-li {
  margin-left: 3%;
  margin-top: 8px;
}

.coode {
  background-color: GhostWhite;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 10px;
  width: 96%;
  margin: 12px auto;
  border: 1px solid GhostWhite;
  border-radius: 6px;
}

@media (max-width: 550px) {
  .always-left-container {
    width: 0px;
    border: 0px;
  }

  h2 {
    font-size: 1.8rem;
    text-align: center;
  }
  .always-left-container > h1 {
    font-size: 0;
  }
  #navbar {
    font-size: 0px;
  }

  #main-doc {
    position: absolute;
    top: 0px;
    left: 3px;
  }

  .main-doc-li {
    margin-left: 5%;
    margin-top: 8px;
  }

  .header-link {
    font-size: 0px;
    border: 0px;
  }

  .header-link:first-child {
    font-size: 0px;
    border: 0px;
  }
}
